@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../assets/fonts/ubuntu/Ubuntu-Regular.ttf) format('truetype');
}
// font-family: 'Ubuntu', sans-serif;

// Basic colors
$india-green: #008600ff;
$yellow-green-color-wheel: #00b200ff;
$white: #ffffffff;
$red: #ff0000ff;
$rufous: #a00000ff;

// extra colors
$blood-red: #5c0000ff;
$up-maroon: #751717ff;
$international-orange-engineering: #ba0c0cff;
$red: #ff0000ff;
$misty-rose: #ffebebff;
$honeydew: #ecffebff;
$slimy-green: #27a300ff;
$pakistan-green: #2d661bff;
$lincoln-green: #005c00ff; 

